--
-- PostgreSQL database dump
--

\restrict cuDSHbSbZxkacNGgJA2SBOjRjBjNIv5hc99fQIdzJVsKstrdCpajLtedb9XGtdf

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: ilark
--

CREATE TABLE public.customers (
    id integer NOT NULL,
    first_name character varying(30),
    last_name character varying(30),
    email character varying(100)
);


ALTER TABLE public.customers OWNER TO ilark;

--
-- Name: customers_id_seq; Type: SEQUENCE; Schema: public; Owner: ilark
--

CREATE SEQUENCE public.customers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customers_id_seq OWNER TO ilark;

--
-- Name: customers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ilark
--

ALTER SEQUENCE public.customers_id_seq OWNED BY public.customers.id;


--
-- Name: customers id; Type: DEFAULT; Schema: public; Owner: ilark
--

ALTER TABLE ONLY public.customers ALTER COLUMN id SET DEFAULT nextval('public.customers_id_seq'::regclass);


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: ilark
--

COPY public.customers (id, first_name, last_name, email) FROM stdin;
2	Maria	Lopez	mlopez@hotmail.com
3	Alejandro	Martinez	amartinez@yahoo.com
4	Sofia	Hernandez	shernandez@gmail.com
5	Diego	Morales	dmorales@outlook.com
6	Ana	Castillo	acastillo@gmail.com
7	Luis	Mendoza	lmendoza@yahoo.com
8	Valeria	Rios	vrios@gmail.com
9	Fernando	Salazar	fsalazar@hotmail.com
10	Elena	Vasquez	evasquez@gmail.com
14	Lana	Lang	llang@gmail.com
15	Jhon	Kent	jkent@gmail.com
1	Carlos	Gomez	carlos.gomez.dev@gmail.com
12	Clark	Kent	clark.kent.superman@gmail.com
\.


--
-- Name: customers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ilark
--

SELECT pg_catalog.setval('public.customers_id_seq', 15, true);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: ilark
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: customers u_email; Type: CONSTRAINT; Schema: public; Owner: ilark
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT u_email UNIQUE (email);


--
-- PostgreSQL database dump complete
--

\unrestrict cuDSHbSbZxkacNGgJA2SBOjRjBjNIv5hc99fQIdzJVsKstrdCpajLtedb9XGtdf

